<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.CommunityMapper">

<resultMap id="communityMap" type="com.qfedu.entry.Community" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="community_desc" property="communityDesc" jdbcType="VARCHAR" />
    <result column="video_img_url" property="videoImgUrl" jdbcType="VARCHAR" />
    <result column="play_num" property="playNum" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
</resultMap>
    <resultMap id="teacherMap" type="com.qfedu.entry.Teacher" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
        <result column="teacher_grade" property="teacherGrade" jdbcType="VARCHAR" />
        <result column="teacher_unit" property="teacherUnit" jdbcType="VARCHAR" />
        <result column="teacher_desc" property="teacherDesc" jdbcType="VARCHAR" />
        <result column="teacher_head_img" property="teacherHeadImg" jdbcType="VARCHAR" />
        <result column="teacher_show_img" property="teacherShowImg" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectTeacher" resultMap="teacherMap">
        select * from teacher;
    </select>

    <select id="selectUser" resultMap="com.qfedu.mapper.UserMapper.userMap">
        select * from user where id = 1
    </select>
</mapper>